<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/lib/bootstrap-4.3.1-dist/bootstrap-4.3.1-dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/content/site.css" />

    <title>@ViewBag.Title</title>
</head>
<body>

    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <div class="container">
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="nav-item"><a asp-controller="Home" asp-action="Index" class="nav-link">Komis</a></li>
            </ul>
          </div>"
        </div>
    </nav>

    <div class="container body-content">
        <div class="row">
            @RenderBody()
        </div>
    </div>
</body>
</html>
